.App {
  text-align: center;
}

.container {
  width: 30vw;
  margin: 1em auto;
}

li {
  border-bottom: 1px solid black;
  margin-top: 0.5em;
  text-align: left;
  font-size: 1.2em;
}

li button {
  float: right;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

li input {
  float: left;
  cursor: pointer;
}

input {
  margin: 10px;
}

.btn-delete {
  background-color: salmon;
}
.btn-edit {
  background-color: lightgreen;
}

.completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: red;
}
